body {
    background-color: #E4F0FB;
    color: #4A48B4;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

div#container {
    margin: auto;
    overflow: hidden;
    padding: 0;
    border: 0;
    width: 100%;
    height: auto;
}

canvas#drawfield {
    background-color: #E7E6FC;
    padding: 10px;
    width: 95%;
}

div#display {
    text-align: center;
    margin: 0;
    width: auto;
    overflow: hidden;
}

div#config {
    margin: 0;
    width: 200px;
    float: right;
    overflow: hidden;
    padding: 5px;
}

select {
    width: 100%;
}

input {
    width: 100%;
}

button {
    background: SteelBlue linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 5px;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}

button:hover {
    background: #3cb0fd linear-gradient(to bottom, #3cb0fd, SteelBlue);
    text-decoration: none;
}